.page-header {
  text-align: center;
  margin: 10px 0;
}

.no-margin-h1 {
  margin-bottom: 0;
}

.add-contact {
  margin: 12.5px 0;
}

.search-bar {
  text-align: center;
}

.search-bar input {
  border: 1px solid black;
  border-radius: 7px;
  height: 35px;
  width: 75%;
}
