body {
  background-color: #f8f9fa;
}
div {
  text-align: center;
}
img {
  border-radius: 50%;
  height: 50px;
  padding: 5px;
  width: 50px;
}

/* app/page */
.page-header {
  text-align: center;
  margin: 10px 0;
}
.no-margin-h1 {
  margin-bottom: 0;
}
.add-contact {
  border-radius: 7px;
  margin: 12.5px 0;
}
.search-bar input {
  background-color: #f8f9fa;
  border: 1px solid black;
  border-radius: 7px;
  height: 35px;
  margin-bottom: 20px;
  padding-left: 10px;
  width: 98%;
}

/* app/contacts/page */
.contacts-div {
  margin-top: 40px;
}
.contacts-list {
  align-items: center;
  background-color: #ebedef;
  border: 1px solid #dde1e4;
  display: flex;
  justify-content: center;
  margin: -1px 0 0 -1px;
}

/* app/contacts/id */
.contact-info img {
  border-radius: 10%;
  height: 500px;
  width: 500px;
}
